# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# testing
/coverage

# misc
.DS_Store
*.pem

# env files
.env
.env*.local

# typescript
*.tsbuildinfo

# vitest
/.vitest
